<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/imgs/favicon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/imgs/favicon-192x192.png">
    <script src="/js/theme.js"></script>
</head>
<body>

<%- include("navbar") %>