<%- include("partials/header", { title: title }) %>

<div class="page-container">

    <div class="hero">
        <h1>Welcome to Inner Circle</h1>
        <% if (!locals.currentUser) { %>
            <p>See more when you`re in.</p>
            <a href="/sign-up" class="btn">Join Now</a>
        <% } else { %>
            <p>See what`s new in the circle.</p>
            <a href="/messages" class="btn">View Messages</a>
        <% } %>
    </div>

</div>

<%- include("partials/footer") %>