<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% if (currentUser) { %>
        <span>Hi, <%= currentUser.username %></span>
        <a href="/log-out">Log out</a>
    <% } else { %>
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign up</a>
    <% } %>
</body>
</html>