<%- include("partials/header", { title: title }) %>

<div class="page-container form-page">
<a href="/" class="back-link">← Back to Home</a>
<h1>Sign Up</h1>

<%- include("partials/error") %>

<form action="/sign-up" method="POST" autocomplete="off">
  <input 
    type="text" 
    name="username" 
    placeholder="Username"
    value="<%= data.username || '' %>"
    required
  />

  <input 
    type="password" 
    name="password" 
    placeholder="Password"
    required
  />

  <input 
    type="password" 
    name="confirmPassword" 
    placeholder="Confirm Password"
    required
  />

  <button type="submit" class="btn">Sign Up</button>
</form>
</div>
<%- include("partials/footer") %>